/*text area for json*/
#json_render {
  height: 300px;
}

/*everything - container*/
#mainTree {

}

#tree {

}

#tip {
  color: gray;
}

.dropDownElt{
  cursor: pointer;
  padding-left: 10px;
}

.dropDownElt:hover{
  background-color: grey;
}
